.contenidoModalFormPlan{
    background-image: url("../../assets/img/paginaContacto/huellasPatitas.png");
    border-radius: var(--bs-border-radius-xl);
    border-color: var(--bs-dark);
    border-width: var(--bs-card-border-width);
}