.heroSection_container {
    background-image: url("../../src/assets/acercaDeNosotros/heroImageAboutUs.jpg");
    height: calc(100vh - 71.792px);
    background-size: cover;
    background-attachment: fixed;
}
.titleAboutUs {
    font-size: 5.5em;
    animation: titleAnimation 1s alternate infinite;
}
@keyframes titleAnimation {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.04);

    }
}