.bg_huellas{
    background-image: url('../assets/img/paginaContacto/huellasPatitas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*****  Imagen Perrito  *****/

.perrito_error404 {
    max-height: 300px;
    max-width: 330px;
    margin: 0;
    padding: 0;
}

#perrito {
    margin: 0;
    position: absolute;
    z-index: 3;
}

.card-error {
    margin-top: -35px;
    z-index: 2;
}

/*****  Botones  *****/

.contenedor-404 {
    background-color: var(--bs-primary);
    border-top: 3px solid #a75ef0;
    border-bottom: 3px solid #a75ef0;
}

.boton-error404 {
    background: #fff;
    /* color de fondo */
    color: var(--bs-secondary);
    /* color de fuente */
    border: 2px solid #be8af3a4;
    /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton-error404:hover {
    color: #fff;
    background: #c797f7;
    border-color:#c797f7;
    /* color de fuente hover */
}

.boton-error404::after {
    content: "";
    background: #c797f78e;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.boton-error404:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@media (max-width: 360px) {
    .boton-error404 {
        margin-top: 10px;
    }

    .card-error {
        margin-top: -28px;
    }

    .perrito_error404 {
        max-height: 300px;
        max-width: 260px;
    }
}