.filtroGris {
    filter: saturate(0%);
}

.contenedorMarca {
    isolation: isolate;
}

.contenedorMarca::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    background-color: #062E32;
}

.desvanecer {
    -webkit-mask-image: radial-gradient(circle at 50% 50%,black 50%,transparent 65%);
    mask-image: radial-gradient(circle at 50% 50%, black 50%,transparent 65%);
}

@media screen and (min-width: 768px) {
    .desvanecer {
        -webkit-mask-image: radial-gradient(circle at 50% 50%,black 85%,transparent 95%);
        mask-image: radial-gradient(circle at 50% 50%, black 85%,transparent 95%);
    }
    
}