.contenedor_login{
    position: relative;
    background-color: #BDEAD8;
    background-image: url("../assets/img/login/fondo2.png");
}

.fondo_huellas{
    background-color: aliceblue;
    background-image: url("../assets/img/login/huellasPatitas.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.boton_login {
    background: #fff;
    color: darkslategrey;
    border: 2px solid darkslategrey;
    margin: 5px 0px;
    padding: 7px 12px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton_login:hover {
    color: #fff;
    background: darkslategrey;
    border-color: darkslategrey;
}

.boton_login::after {
    content: "";
    background: darkslategrey;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.boton_login:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}