#root{
    color: #454c5a;
}

.row{
    margin:0;
}

/****** Imagen mascotas ******/

.imagen_mascotas {
    max-height: 400px;
    max-width: auto;
    animation-duration: 3s;
}

.mascotas {
    z-index: 3;
}

/****** Bienvenida ******/

.contenedor_bienvenida{
    background-color:  #BDEAD8;
    margin-top: -136px;
    z-index: 0;
    border-radius: 10px;
    z-index: 1;
}

.card_texto{
    background-color:  #BDEAD8;
    border: solid 2px #454c5a;
    animation-duration: 2s;
}

.contenedor_gatito{
    animation-duration: 4s;
}

.imagen_gatito{
    max-height: auto;
    max-width: 500px;
    border: solid 2px #454c5a;
    z-index: 0;
}

.card_direccion{
    background-color: #77e7b1;
    max-width: auto;
    max-height: 200px;
    border: solid 2px #454c5a;
    animation-duration: 5s;
}

/****** Formulario de contacto ******/

.contenedor_formulario{
    background-color: #BDEAD8;
}

.fondo_huellas{
    background-color: aliceblue;
    background-image: url('../assets/img/paginaContacto/pngegg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/****** Perro Formulario ******/
.perro_formulario{
    margin-bottom: -54px;
}

/****** Canales de contacto ******/

.canales_contacto{
    background-color: darkslategrey;
}

/****** Media queries ******/

@media (min-width: 416px) and (max-width:1024px){
    .imagen_mascotas{
        max-height: 500px;
        max-width: 680px;
        margin-bottom: 50px;
    }
    .perro_formulario{
        max-width: 400px;
        margin-bottom: -410px;
    }
}



@media (max-width: 767px){
    .contenedor_gatito{
        display: none;
    }
}

@media (max-width: 415px){
    .imagen_mascotas{
        max-width: 350px;
        margin-bottom: 92px;
    }
    .perro_formulario{
        max-width: 350px;
        margin-bottom: -27px;
    }
}

@media (max-width: 280px){
    .imagen_mascotas{
        max-width: 200px;
        margin-bottom: 111px;
    }
    .perro_formulario{
        max-width: 200px;
        margin-bottom: -16px;
    }
}