#root{
    color: #454c5a;
}

.row{
    margin:0;
}

/****** Imagen mascotas ******/

.imagen_mascotas {
    max-height: 400px;
    max-width: auto;
    animation-duration: 3s;
}

.mascotas {
    z-index: 3;
}

/****** Bienvenida ******/

.contenedor_bienvenida{
    background-color: darkslategray;
    margin-top: -136px;
    z-index: 0;
    border-radius: 10px;
    z-index: 1;
}

.card_texto{
    background-image: url('../assets/img/paginaContacto/contactoFondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* border: solid 2px #454c5a; */
    animation-duration: 8s;
}

.contenedor_gatito{
    animation-duration: 10s;
}

.imagen_gatito{
    max-height: auto;
    max-width: 500px;
    border: solid 2px #454c5a;
    z-index: 0;
}

.card_direccion{
    background-color: #BDEAD8;
    max-width: auto;
    max-height: 200px;
    border: solid 2px #454c5a;
    animation-duration: 12s;
}

/****** Formulario de contacto ******/

.contenedor_formulario{
    position: relative;
    background-color: #BDEAD8;
}

.fondo_huellas{
    background-color: aliceblue;
    background-image: url('../assets/img/paginaContacto/huellasPatitas.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.boton_formContacto {
    background: #fff;
    /* color de fondo */
    color: darkslategrey;
    /* color de fuente */
    border: 2px solid darkslategrey;
    /* tamaño y color de borde */
    margin: 5px 0px;
    padding: 7px 12px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton_formContacto:hover {
    color: #fff;
    background: darkslategrey;
    border-color: darkslategrey;
    /* color de fuente hover */
}

.boton_formContacto::after {
    content: "";
    background: darkslategrey;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.boton_formContacto:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

/****** Perro Formulario ******/

.contenedor_textoImg{
    display: flex;
    flex-direction: column;
    position: relative;
}

.perro_formulario{
    margin-bottom: -44px;
    position: absolute;
    bottom: 0;
}

/****** Canales de contacto ******/

.canales_contacto{
    background-color: darkslategrey;
}

/****** Logo wsp ******/

.logo_wsp{
    max-width: 60px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
}

/****** Media queries ******/


@media (min-width: 1023px) and (max-width: 1024px){
    .perro_formulario{
        margin-bottom: -33px;
    }
}

@media (min-width: 542px) and (max-width: 1000px){
    .imagen_mascotas{
        max-height: 500px;
        max-width: 680px;
        margin-bottom: 50px;
    }
    .perro_formulario{
        margin-bottom: -25px;
    }
}

@media (max-width: 541px){
    .imagen_mascotas{
        max-width: 500px;
    }
    .contenedor_gatito{
        display: none;
    }
    .perro_formulario{
        position: inherit;
    }
}

@media (max-width: 415px){
    .imagen_mascotas{
        max-width: 350px;
        margin-bottom: 92px;
    }
    .perro_formulario{
        margin-bottom: -32.5px;
        position: inherit;
    }
}

@media (max-width: 280px){
    .imagen_mascotas{
        max-width: 200px;
        margin-bottom: 111px;
    }
    .perro_formulario{
        margin-bottom: -22.5px;
    }
}

